

.invisible {
    display: none;
}

div.plugin_pagehistoryslider div.plugin_pagehistory_viewport_container {
    clear: both;
}

div.plugin_pagehistoryslider div.plugin_pagehistory_viewport_container div.plugin_pagehistory_viewport_iframe_container iframe.plugin_pagehistory_viewport_iframe {
    width: 99%;
    overflow-x: auto;
}

div.plugin_pagehistoryslider div.plugin_pagehistory_slider {
    width: 90%;
    margin-left: 10px;
}

* html div.div.plugin_pagehistoryslider div.plugin_pagehistoryslider_tick {
    display: none;
}

div.plugin_pagehistoryslider div.plugin_pagehistoryslider_tick {
    z-index: 2;
    position: absolute;
    height: 100%;
    background: none;
    border-left : 1px solid #cccccc;
    border-top: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
}

div.plugin_pagehistoryslider div.plugin_pagehistory_absolute_diff div.plugin_pagehistory_absolute_diff_controls p {
    float: left;
}

div.plugin_pagehistoryslider div.plugin_pagehistory_absolute_diff .plugin_pagehistory_absolute_diff_version {
    float: left;
    width: 25px;
    border: 1px solid #cccccc;
    text-align: center;
}

div.plugin_pagehistoryslider h2.plugin_pagehistory_absolute_diff_view_title {
    clear: both;
}

div.plugin_pagehistoryslider div.plugin_pagehistory_advanced_options {
    margin-top: 10px;
}

div.plugin_pagehistoryslider span.plugin_pagehistory_viewing_version_note {
    font-weight: bold;
}


